In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
%matplotlib inline

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Flinders,AU,2021-04-07 22:23:40,-34.5833,150.8552,69.01,94,36,1.01
1,1,Kapaa,US,2021-04-07 22:23:41,22.0752,-159.3190,77.00,65,75,17.27
2,2,Saskylakh,RU,2021-04-07 22:23:41,71.9167,114.0833,-0.58,97,100,5.12
3,3,Norman Wells,CA,2021-04-07 22:23:42,65.2820,-126.8329,8.60,61,40,9.22
4,4,Sao Filipe,CV,2021-04-07 22:23:42,14.8961,-24.4956,75.45,65,16,9.08

In [3]:
is_nan = city_data_df.isnull()
row_has_nan = is_nan.any(axis=1)
rows_with_nan = city_data_df[row_has_nan]
print(rows_with_nan)

     City_ID         City Country                 Date      Lat      Lng  \
111      111     Luderitz     NaN  2021-04-07 22:24:16 -26.6481  15.1594
298      298   Ongandjera     NaN  2021-04-07 22:25:20 -17.8833  15.0667
492      492  Henties Bay     NaN  2021-04-07 22:26:22 -22.1160  14.2845

     Max Temp  Humidity  Cloudiness  Wind Speed
111     68.09        59           1        8.86
298     74.21        53           5        6.89
492     64.11        77           0        3.22

In [4]:
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 0 to 570
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     571 non-null    int64
 1   City        571 non-null    object
 2   Country     568 non-null    object
 3   Date        571 non-null    object
 4   Lat         571 non-null    float64
 5   Lng         571 non-null    float64
 6   Max Temp    571 non-null    float64
 7   Humidity    571 non-null    int64
 8   Cloudiness  571 non-null    int64
 9   Wind Speed  571 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 44.7+ KB

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                    dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)


# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
windy = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=windy, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Kapaa,US,2021-04-07 22:23:41,22.0752,-159.3190,77.00,65,75,17.27
4,4,Sao Filipe,CV,2021-04-07 22:23:42,14.8961,-24.4956,75.45,65,16,9.08
11,11,Rikitea,PF,2021-04-07 22:23:44,-23.1203,-134.9692,76.86,61,0,8.41
17,17,Vaini,TO,2021-04-07 22:23:46,-21.2000,-175.2000,80.60,69,20,6.91
18,18,Riberalta,BO,2021-04-07 22:23:46,-10.9833,-66.1000,86.00,66,75,5.75
28,28,Porto Novo,BJ,2021-04-07 22:21:09,6.4965,2.6036,84.20,84,40,12.66
29,29,Buala,SB,2021-04-07 22:23:50,-8.1450,159.5921,81.68,78,100,8.28
30,30,Hamilton,US,2021-04-07 22:23:50,39.1834,-84.5333,80.01,41,40,12.66
34,34,Baghdad,IQ,2021-04-07 22:21:34,33.3406,44.4009,75.20,31,81,2.30
36,36,Neiafu,TO,2021-04-07 22:23:52,-18.6500,-173.9833,82.40,69,20,4.61

In [17]:
preferred_cities_df.count()

City_ID       163
City          163
Country       163
Date          163
Lat           163
Lng           163
Max Temp      163
Humidity      163
Cloudiness    163
Wind Speed    163
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1        Kapaa      US     77.00  22.0752 -159.3190
4   Sao Filipe      CV     75.45  14.8961  -24.4956
11     Rikitea      PF     76.86 -23.1203 -134.9692
17       Vaini      TO     80.60 -21.2000 -175.2000
18   Riberalta      BO     86.00 -10.9833  -66.1000
28  Porto Novo      BJ     84.20   6.4965    2.6036
29       Buala      SB     81.68  -8.1450  159.5921
30    Hamilton      US     80.01  39.1834  -84.5333
34     Baghdad      IQ     75.20  33.3406   44.4009
36      Neiafu      TO     82.40 -18.6500 -173.9833

In [23]:
# Set parameters to search for a hotel
params = {"radius": 5000,
         "type": "lodging",
         "key": g_key}

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [40]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Kapaa,US,77.00,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
4,Sao Filipe,CV,75.45,14.8961,-24.4956,Tortuga B&B
11,Rikitea,PF,76.86,-23.1203,-134.9692,Pension Maro'i
17,Vaini,TO,80.60,-21.2000,-175.2000,Keleti Beach Resort
18,Riberalta,BO,86.00,-10.9833,-66.1000,Hotel Colonial

In [29]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

# Add layers
fig.add_layer(marker_layer)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))